.watch-img{
    background: url(appleimg/promo_apple_watch_series_8__ch7rexplmihe_large.jpg) center no-repeat;
}
.air-img{
    background: url(appleimg/promo_airpods_pro_avail__gaxggskofx6y_large.jpg) center no-repeat;
}

.se-img{
    background: url(appleimg/promo_apple_watch_se__f9702l6odgi2_large.jpg) center no-repeat;
}
.fit-img{
background: url(appleimg/promo-apple-fitness-plus-iphone__bzeal882mv7m_large.jpg) center no-repeat;
}
.mac-img{
background: url(appleimg/promo_macbookair__fywl7i82fueu_large.png) center no-repeat;
}
.cad-img{
    background: url(appleimg/tile__cauwwcyyn9hy_large.jpg)center no-repeat;
}
.main-b{
    height: 58rem;
    margin-top: 10px;
}
